body {
	background: #121315;
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}

hr {
	border-top: 1px solid #333;
}

.track-info {
	background: #000;
	border: 1px solid #333;
	color: #888;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	margin-bottom: 20px;
	padding: 20px;
}

.btn-custom {
	background: #1db958;
	color: #fff;
}

.btn {
	border: 0;
  	border-radius: 40px;
 	padding-left: 20px;
 	padding-right: 20px;
}

.btn:focus {
  	outline: none;
  	border: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

video {
	background: #000;
	border-radius: 5px;
	height: 40px;
	width: 95%;
}